<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

        <% include ../partials/header %>

    <div class="container">
        <h1><%= data.ProductName %></h1>
        <div class="form-group">
            <label for="">ID</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="<%= data.ProductID %>" disabled>
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
          <div class="form-group">
           <label for="">Name</label>
           <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="<%= data. ProductName %>" disabled>
           <small id="helpId" class="form-text text-muted">Help text</small>
         </div>
         <div class="form-group">
           <label for="">Quantity Per Unit</label>
           <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="<%= data.QuantityPerUnit %>" disabled>
           <small id="helpId" class="form-text text-muted">Help text</small>
         </div>
         <div class="form-group">
           <label for="">Unit Price</label>
           <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="<%= data.UnitPrice %>" disabled>
           <small id="helpId" class="form-text text-muted">Help text</small>
         </div>
         <div class="form-group">
           <label for="">Units In Stock</label>
           <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="<%= data.UnitsInStock %>" disabled>
           <small id="helpId" class="form-text text-muted">Help text</small>
         </div>


      <a name="" id="" class="btn btn-primary" href="/products" role="button"> << Back to Product List</a>

    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>